<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jongqservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jongqservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jongqservice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jongqservice</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JongQDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:p2xymyiv9h.database.windows.net,1433;Initial Catalog=JongQDB;Integrated Security=False;User ID=JongQDB@p2xymyiv9h;Password=!JongQ1234;Connect Timeout=30;Encrypt=True" Name="Server=tcp:p2xymyiv9h.database.windows.net,1433;Database=JongQDB;User ID=JongQDB@p2xymyiv9h;Password=!JongQ1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JongQServiceAPI.Models.UserDbContext, JongQServiceAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JongQDB-Web.config Connection String">
      <ParameterValue>Server=tcp:p2xymyiv9h.database.windows.net,1433;Database=JongQDB;User ID=JongQDB@p2xymyiv9h;Password=!JongQ1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>